{% extends 'base.html' %}


{% block content %}


    <div class="container">


        <div class="row justify-content-center m-2">

            {% if products %}

            {% for product in products %}

                <div class="col-md-4">
                    <div class="card m-3 p-2" style="width: 18rem; height: 33rem; box-shadow: 4px 4px #c291fa; border-radius: 25px 15px;">
                        <img src="{{ product.image.url }}" style="height: 300px; width: 200px;"  class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 style="font-size: 17px;" class="card-title mt-1">{{ product.name }}</h4>
                            <h3 style="color: rgb(16, 52, 107)" class="card-subtitle mt-1">${{ product.price }}</h3>
                            <hr>
                            <p style="font-size: 13px;" class="btn btn-warning"><b>{{ product.category.name }}</b></p>
                            <p style="font-size: 13px;" class="cart-text mt-1">{{ product.created_at }}</p>                
                        </div>
                        <span><a href="{% url 'product' product.pk  %}" style="background-color: #5707b3;" class="btn btn-primary m-1">Detail</a></span>
                    </div>
                </div>

            {% endfor %}

            {% else %}
                 <p>No Products </p>
            {% endif %}


            <div class="col-md-4">
              <h2>Category</h2>
              <br>
              <hr>
              
                  <a class="list-group-item" href="{% url 'showProducts' %}">All</a>

                  {% for category in categories %}

                    <li class="list-group-item">
                        <a class="btn btn-primary" href="{% url 'showProducts' %}?category={{ category.name }}">{{ category.name }}</a>
                    </li>

                  {% endfor %}

            </div>

        </div>


        <div class="row m-5">
          <div class="col-md-12 m-2">
  
            {% if products.has_other_pages %}
              <ul class="pagination">
                    {% if products.has_previous %}  
                        <li class="page-item">
                          <a href="?page={{ products.previous_page_number }}" class="page-link">&laquo;
                          </a>
                        <li>
                      {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="?page=1">&laquo;</a>
                        </li>     
                     {% endif %}
  
                  {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                          <li class="page-item active">
                            <a class="page-link">{{ i }}</a>
                          </li>
                        {% else %}
                        <li class="page-item">
                          <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>  
                        {% endif %}
                  {% endfor %}


  
                  {% if products.has_next %}  
                  <li class="page-item">
                    <a href="?page={{ products.next_page_number }}" class="page-link">&raquo;
                    </a>
                  <li>
                  {% else %}
                  <li class="page-item disabled">
                    <a class="page-link" href="?page={{ products.paginator.num_pages }}">&raquo;</a>
                  </li>     
                  {% endif %}
  
              </ul>
            {% endif %}
  
          </div>
        </div>


       
     


    </div>

{% endblock %}

