<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Show Info</title>
  </head>
  <body>
    <h1>Report Of Products</h1>
        
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Is_Published</th>
                        <th scope="col">Created At</th>
                      </tr>
                    </thead>
                    <tbody>
                      
                     {% for product in products %}

                        <tr>
                            <td>{{ product.id }}</td>
                            <td> <img height="80px" width="50px" src="{{ product.image.url }}"/></td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.price }}</td>
                            <td>{{ product.category.name }}</td>
                            <td>{{ product.is_published }}</td>
                            <td>{{ product.created_at }}</td>
                        </tr>

                      {% endfor %}
                     
                    </tbody>
                  </table>

            </div>
        </div>

        <a class="btn btn-primary m-2" href="{% url 'create-pdf' %}">Create PDF</a>

    </div>




  

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>